
.container,
.container-fluid {
    width: 100%;
    padding: 60px 0;
    float: left;
    background-color: pink;
}

.container > .row {
    width: var(--width);
    margin: 20px calc ((100% -var(--width)) / 2);
    float: left;
    background-color: aqua;
}
.row > [class*='col-'] {
    float: left;
    margin: var (--half-gap);
    background-color: yellow;
}
.row > .col-1 {
    width: var(--c1);
}
.row > .col-2 {
    width: var(--c2);
}